.filter-popover{
    display: none;
    z-index:1;
    position: absolute;
    width: 250px;
}
.filter-list-partial{
    height: 130px;
}
.sort-icon{
    margin-left:5px;
    height: 15px;
    width: 15px;
}
.comment-author-avatar{
    height: 35px;
    width: 35px;
}
.pagination{
    margin-left: 10px;
}
.post-list-photo{
    border-radius: 5px;
    height: 200px;
    width: 200px;
}
.post-show-photo{
    border-radius: 5px;
    height: 300px;
    width: 300px;
}
